.title-container {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title-container1 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.title-container2 {
  display: flex;
  position: relative;
}
.title-heading {
  color: var(--dl-color-gray-white);
  font-size: 3em;
  text-align: center;
}
.title-text {
  color: var(--dl-color-gray-900);
  width: 800px;
  font-size: 1.5rem;
  text-align: center;
}
.title-image {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: none;
  position: absolute;
  object-fit: cover;
}
.rootClassName {
  left: -1px;
  bottom: 0px;
  margin: auto;
}
@media(max-width: 479px) {
  .title-container1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}

.nav-bar-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar-navlink {
  display: contents;
}
.nav-bar-heading {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
}
.nav-bar-navlink1 {
  color: var(--dl-color-gray-white);
  margin-right: 20px;
  text-decoration: none;
}
.nav-bar-navlink2 {
  color: var(--dl-color-gray-white);
  margin-right: 20px;
  text-decoration: none;
}
.nav-bar-navlink3 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.nav-bar-container1 {
  width: 9px;
  height: 82px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-bar-link {
  display: contents;
}
.nav-bar-image {
  width: 52px;
  height: 71px;
  object-fit: cover;
  text-decoration: none;
}
.rootClassName {
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .nav-bar-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
}
@media(max-width: 767px) {
  .nav-bar-header {
    background-color: var(--dl-color-gray-white);
  }
  .nav-bar-heading {
    color: var(--dl-color-secondary-400);
  }
  .nav-bar-container1 {
    display: none;
  }
  .rootClassName {
    margin-bottom: 0px;
  }
}

.footer-container {
  width: 100%;
  height: 532px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("../public/playground_assets/photo-1564951434112-64d74cc2a2d7_edited-1500w.jpg");
}
.footer-text {
  color: var(--dl-color-gray-black);
  width: 450px;
  z-index: 100;
  font-size: 3em;
  margin-top: 30px;
  text-align: center;
  font-family: Kaushan Script;
}
.footer-contact-info {
  width: 100%;
  display: flex;
  z-index: 100;
  align-self: center;
  margin-top: 25px;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.footer-card2 {
  flex: 0 0 auto;
  width: 500px;
  height: 360px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  margin-left: 50px;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.footer-icon {
  width: 50px;
  height: 50px;
}
.footer-text1 {
  color: var(--dl-color-secondary-100);
  font-size: 1.75rem;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Kaushan Script;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.footer-text2 {
  color: var(--dl-color-gray-black);
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 15px;
  font-weight: 700;
}
.footer-text3 {
  color: var(--dl-color-gray-black);
  font-size: 1.5rem;
  margin-top: 15px;
  text-align: center;
}
.footer-card3 {
  flex: 0 0 auto;
  width: 500px;
  height: 360px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  margin-right: 50px;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.footer-icon2 {
  width: 50px;
  height: 50px;
}
.footer-text4 {
  color: var(--dl-color-secondary-100);
  font-size: 1.75rem;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Kaushan Script;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.footer-text5 {
  color: var(--dl-color-gray-black);
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 15px;
  font-weight: 700;
}
.footer-text6 {
  color: var(--dl-color-gray-black);
  font-size: 1.5rem;
  margin-top: 15px;
  text-align: center;
}



@media(max-width: 991px) {
  .footer-contact-info {
    align-items: center;
    flex-direction: column;
  }
  .footer-card2 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .footer-card3 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 479px) {
  .footer-card2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .footer-card3 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 661px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/gg-1500w.jpg");
}
.home-bg {
  top: -25px;
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 700px;
  margin: auto;
  display: flex;
  opacity: 0.7;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.home-this {
  width: 100%;
  height: 1367px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #eaeaea;
}
.home-container01 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
.home-games-features {
  width: 66%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text {
  color: #0f3c9e;
  text-align: center;
}
.home-text03 {
  color: #304762;
  text-align: center;
  border-color: #eaeaea;
  border-width: 1px;
  margin-bottom: 0.25rem;
}
.home-text04 {
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.home-games1 {
  width: 768px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-triplequarter);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-triplequarter);
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-card1 {
  flex: 0 0 auto;
  width: 26.6%;
  height: 250px;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-image {
  width: 100px;
  object-fit: cover;
}
.home-text05 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-link1 {
  display: contents;
}
.home-card2 {
  flex: 0 0 auto;
  width: 26.6%;
  height: 250px;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-image01 {
  width: 114px;
  height: 91px;
  object-fit: cover;
}
.home-text06 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-link2 {
  display: contents;
}
.home-card21 {
  flex: 0 0 auto;
  width: 26.6%;
  height: 250px;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-image02 {
  width: 111px;
  height: 50%;
  object-fit: cover;
}
.home-text07 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-games2 {
  width: 768px;
  height: 269px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-link3 {
  display: contents;
}
.home-card22 {
  top: 10px;
  flex: 0 0 auto;
  left: 0px;
  width: 26.6%;
  height: 250px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: center;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-image03 {
  top: var(--dl-space-space-tripleunit);
  width: 174px;
  height: 42px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-text08 {
  color: var(--dl-color-secondary-100);
  margin-top: 120px;
  text-align: center;
  font-family: Open Sans;
}
.home-link4 {
  display: contents;
}
.home-card3 {
  top: 10px;
  width: 26.6%;
  height: 250px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-image04 {
  width: 100px;
  object-fit: cover;
}
.home-text09 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-link5 {
  display: contents;
}
.home-card11 {
  top: 10px;
  flex: 0 0 auto;
  right: 0px;
  width: 26.6%;
  height: 250px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: center;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-image05 {
  top: 40px;
  width: 100px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-text10 {
  color: var(--dl-color-secondary-100);
  margin-top: 120px;
  text-align: center;
  font-family: Open Sans;
}
.home-who-we-are {
  width: 1027px;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-container02 {
  width: 497px;
  height: 534px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #777777;
  align-items: flex-start;
  margin-left: auto;
  padding-top: 20px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 20px;
}
.home-text11 {
  color: #0f3c9e;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text12 {
  color: #304762;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text25 {
  color: #ff4242;
}
.home-text26 {
  color: #ffffff;
}
.home-container03 {
  flex: 0 0 auto;
  width: 33%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: #09A6E9;
}
.home-image06 {
  width: 368px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 321px;
  align-self: center;
  object-fit: cover;
  border-radius: 0px;
  flex-direction: column;
  object-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius50);
  border-top-right-radius: var(--dl-radius-radius-radius50);
}
.home-section2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #eaeaea;
}
.home-growing-company-section {
  width: 100%;
  height: 650px;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image07 {
  width: 33%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
}
.home-container04 {
  width: 571px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #777777;
  align-items: flex-start;
  margin-left: auto;
  padding-top: 20px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.home-container05 {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.home-icon {
  fill: var(--dl-color-pimary-500);
  width: 24px;
  height: 24px;
}
.home-text29 {
  color: #0909ce;
  margin-top: var(--dl-space-space-unitandhalf);
}
.home-text30 {
  color: var(--dl-color-secondary-400);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unitandhalf);
}
.home-container06 {
  flex: 0 0 auto;
  width: 66%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text40 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
.home-text41 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: 0.25rem;
}
.home-text42 {
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.home-container07 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.home-navlink {
  display: contents;
}
.home-container08 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image08 {
  width: 100px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text43 {
  color: #183079;
  text-align: center;
  padding-top: var(--dl-space-space-unitandhalf);
}
.home-text44 {
  color: #536073;
  text-align: center;
  text-transform: uppercase;
}
.home-navlink1 {
  display: contents;
}
.home-container09 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image09 {
  width: 100px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text45 {
  color: #183079;
  text-align: center;
  padding-top: var(--dl-space-space-unitandhalf);
}
.home-text46 {
  color: #536073;
  text-align: center;
  text-transform: uppercase;
}
.home-navlink2 {
  display: contents;
}
.home-container10 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image10 {
  width: 100px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text47 {
  color: #183079;
  text-align: center;
  padding-top: var(--dl-space-space-unitandhalf);
}
.home-text48 {
  color: #536073;
  text-align: center;
  text-transform: uppercase;
}
.home-navlink3 {
  display: contents;
}
.home-container11 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image11 {
  width: 100px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text49 {
  color: #183079;
  text-align: center;
  padding-top: var(--dl-space-space-unitandhalf);
}
.home-text50 {
  color: #536073;
  text-align: center;
  text-transform: uppercase;
}
@media(max-width: 991px) {
  .home-games1 {
    align-items: center;
    flex-direction: column;
  }
  .home-card1 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card2 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card21 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card22 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card3 {
    width: 90%;
  }
  .home-card11 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-section2 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .home-this {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-games-features {
    width: 100%;
  }
  .home-who-we-are {
    margin-top: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .home-container02 {
    width: 100%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container03 {
    width: 100%;
  }
  .home-growing-company-section {
    flex-direction: column;
  }
  .home-image07 {
    width: 100%;
  }
  .home-container04 {
    width: 100%;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .home-container06 {
    width: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container07 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .home-container08 {
    width: 50%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container09 {
    width: 50%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container10 {
    width: 50%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container11 {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .home-card1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card21 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card22 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card11 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container04 {
    align-items: flex-start;
  }
  .home-container07 {
    align-items: center;
    flex-direction: column;
  }
}
