.nav-bar-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar-navlink {
  display: contents;
}
.nav-bar-heading {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
}
.nav-bar-navlink1 {
  color: var(--dl-color-gray-white);
  margin-right: 20px;
  text-decoration: none;
}
.nav-bar-navlink2 {
  color: var(--dl-color-gray-white);
  margin-right: 20px;
  text-decoration: none;
}
.nav-bar-navlink3 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.nav-bar-container1 {
  width: 9px;
  height: 82px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-bar-link {
  display: contents;
}
.nav-bar-image {
  width: 52px;
  height: 71px;
  object-fit: cover;
  text-decoration: none;
}
.rootClassName {
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .nav-bar-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
}
@media(max-width: 767px) {
  .nav-bar-header {
    background-color: var(--dl-color-gray-white);
  }
  .nav-bar-heading {
    color: var(--dl-color-secondary-400);
  }
  .nav-bar-container1 {
    display: none;
  }
  .rootClassName {
    margin-bottom: 0px;
  }
}
